#top-menu {
    background-color: #99AA99;
    padding: 3px;
    margin: 0px;
}

#top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#top-menu li {
    background-color: #99AA99;
    display: inline;
    width: 160px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}